html {
    min-width: 1000px;
}

body {
    font-family: Verdana;
}

.row,
.col-xs-3,
.col-xs-8,
.col-xs-9 {
    overflow: hidden;
}





header #navigator .link {
    display: inline;
}
header #navigator .link a {
    padding: 10px;

    border: 2px solid #444444;
    border-radius: 10px;

    color: #444444;
    text-decoration: none;

    cursor: pointer;
}
header #navigator .link a:hover {
    background: #dddddd;
}

main,
main h2 {
    margin-top: 50px;
}
main .row,
main .note,
main .table {
    margin: 50px 0;
}
main .field-big,
main .field-small,
main .text {
    word-wrap: break-word;
}
main .field-big {
    font-size: 125%;
    font-weight: bolder;
}
main .field-small {
    font-style: italic;
}
main .text {
    padding-bottom: 25px;

    border-bottom: 2px solid #dddddd;

    line-height: 2em;
}


.tab { margin-left: 40px; }


#team-strength-list,
.persona-property-list {
    margin: 0;
    padding: 0 0 25px 20px;
}

.member-picture {
    max-width: 250px;
    margin-bottom: 25px;
}

.features-picture {
     max-width: 636px;


    margin-bottom: 25px;
}
#system-design-picture {
    width: 100%;
}
#planning-game-video,
#code-review-video {
    width: 80%;
}

.architecture-picture {
    max-width: 800px;
}

.no-border {
    border-bottom: 0 !important;
    padding-bottom: 0 !important;
}

.dir {
    background-color: #e3e3e3;
    padding: 1px 2px;
    border: 1px solid #D0D0D0;
    border-radius: 2px;
    color: #f23065;

}

.highlight{
    background-color: #e3e3e3;
    padding: 1px 2px;
    border: 1px solid #D0D0D0;
    border-radius: 2px;
}
